@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css variables */
:root {
  --primary-color: #344563;
  --secondary-color: #6070ff;
  --white-color: #fff;
  --title-color: #172b4d;
  --paragraph-color: #344563;
  --dark-color: #172b4d;
  --title-margin-bottom: 1.2rem;
  --rgba--background: rgba(235, 235, 255, 0.5);
  --line-color: #dfe1e6;
  --input-border-color: #cdf8dc;
  --margin-bottom-1: 1rem;
}

/* general css */
ul {
  list-style: none;
}

p {
  color: var(--paragraph-color);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.title {
  color: var(--title-color);
  font-size: clamp(2rem, 10vw, 3rem);
  line-height: 1;
  margin-bottom: 1rem;
}

.btn {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 0.8rem;
  transition: color 0.3s ease;
}

.primary-btn {
  font-weight: 600;
  font-size: 13px;
  color: var(--secondary-color);
  padding: 7px 8px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  transition: all 0.3s ease-out;
}

.primary-btn:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.btn:hover {
  opacity: 0.7;
}

.content-main {
  width: 80%;
  margin: 0 auto;
}

/* header css */
.nav {
  display: flex;
  background-color: var(--white-color);
  height: 3.5rem;
  padding: 0 1.8rem;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-menu {
  display: none;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  color: var(--title-color);
  margin-right: 1rem;
  transition: color 0.3s ease-out;
}

.nav-menu ul li:hover {
  color: var(--secondary-color);
}

/* hero section */
.hero {
  position: relative;
  background-color: var(--white-color);
  background-image: url(/img/graph_1.png), url(/img/graph_2.png), url(/img/graph_3.png), url(/img/graph_4.png), url(/img/graph_5.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100px, 50px, 28px, 50px, 30px;
  background-position: 111% 5%, -8% 4%, 80% 80%, 60% 95%, 40% 6%;
  border-bottom-left-radius: 100px 70px;
  padding-top: 5rem;
  padding-bottom: 3.6rem;
  overflow-x: hidden;
}

.hero-content {
  position: relative;
}

.hero-title {
  color: var(--title-color);
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: var(--title-margin-bottom);
}

.hero-description {
  font-weight: 500;
}

.social_Medias {
  display: flex;
  width: clamp(12rem, 10vh, 15rem);
  justify-content: space-between;
  margin-bottom: 1rem;
}

.m-icon:hover,
.m-icon:focus {
  opacity: 0.7;
}

/* work section */
.work {
  position: relative;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 80px 20px;
  padding: 3rem 0;
}

.single-work {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 25px;
}

.work-content {
  padding: 0.1rem 0.6rem;
}

.work-title {
  color: var(--title-color);
}

.work-chronical {
  display: flex;
  margin-bottom: 0.8rem;
  justify-content: space-between;
  width: clamp(12rem, 10vw, 13rem);
  font-size: 12px;
}

.work-chronical-title {
  font-weight: 700;
}

.work-description {
  font-size: 15px;
  font-weight: 500;
}

.work-stacks {
  display: flex;
  margin-bottom: 1rem;
}

.single-stack {
  color: var(--secondary-color);
  background-color: var(--rgba--background);
  font-size: 11px;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* about myself section */
.about {
  position: relative;
  background-color: var(--white-color);
  border-top-right-radius: 100px 70px;
}

.about-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-content_desc {
  margin-bottom: 3rem;
}

.single-skill {
  padding: 0.95rem 0.1rem;
}

.single-skill-l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.skill-tittle {
  font-weight: 500;
  font-size: 20px;
}

.skill-line {
  border-top: 1px solid var(--line-color);
}

.single-skill-desc-content {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--rgba--background);
  margin-bottom: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
}

.skill-img {
  margin-right: 10px;
}

.single-skill-desc-t {
  font-size: 15px;
  font-weight: 500;
}

/* ======= contact section css ======= */
.contact {
  position: relative;
  background-color: var(--white-color);
}

.contact-content {
  background-image: url(/img/contact-graph-2.png), url(/img/contact-graph-1.png), url(/img/contact-circle-1.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 95px, 100px, 28px;
  background-position: 77% 95%, 110% 3%, 40% 10%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  background-color: var(--secondary-color);
  border-top-left-radius: 100px 70px;
}

.contact-content_desc {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  color: var(--white-color);
  font-size: clamp(1rem, 10vw, 2rem);
  line-height: 1;
  text-align: center;
  margin-bottom: var(--title-margin-bottom);
}

.contact-description {
  color: var(--white-color);
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form form .form-control {
  background-color: var(--white-color);
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 100%;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
}

.contact-btn {
  background-color: var(--white-color);
  color: var(--secondary-color);
  border: 1px solid var(--white-color);
  padding: 7px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.contact-btn:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

/* ===========================Media queries======================== */
@media screen and (min-width: 768px) {
  /* navbar */
  .nav {
    padding: 0 5rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu {
    display: inline-flex;
  }

  /* header */
  .hero-title {
    font-size: 3.5rem;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 120px, 50px, 28px, 50px, 30px;
    background-position: 85% 20%, 3% 4%, 20% 80%, 60% 80%, 55% 20%;
    height: 90vh;
  }

  .hero-content {
    width: 70%;
    padding: 2rem;
  }

  .hero-description {
    max-width: 45rem;
  }

  /* work section */
  .work {
    padding: 5rem 0;
  }

  .works {
    grid-template-columns: 1fr;
  }

  .work-img {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .work-img_c {
    width: 100%;
    height: 100%;
  }
  
  .single-work {
    flex-direction: row;
    gap: 1rem;
  }

  .work-content {
    width: 50%;
  }

  .right-order :nth-child(1) {
    order: 1;
  }

  .work-content .work-title {
    margin-bottom: 1rem;
  }

  /* about section */
  .about-content {
    display: flex;
    justify-content: space-between;
  }

  .about-content_desc {
    width: 40%;
  }

  .about-skills {
    width: 55%;
  }

  .single-skill-desc {
    display: flex;
    gap: 0.5rem;
  }

  .single-skill-desc-content {
    flex-direction: column;
    gap: 0.4rem;
  }

  .single-skill-desc-t {
    font-size: 13px;
    font-weight: 500;
  }

  /* contact section */
  .contact-content_desc {
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1150px) {
  /* navbar */
  .nav {
    padding: 0 12rem;
  }

  .content-main {
    width: 60%;
  }
}
